## Apartment prices

1. Calculate the price per square meter (ppsqm) for each apartment sold. That is, add a new variable to your table containing the data representing the ppsqm.

2. Rank the top 5 most expensive appartments w.r.t ppsqm. Present this in a table. Hint: Use a sort function.

3. What is the avereage ppsqm in Ekhagen?

4. Highlight an aspect of the data that you find interesting. Explain your choice.

In [30]:
import pandas as pd
data = pd.read_csv("/Users/alvinalindqvist/Desktop/Booli_sold.csv")
data.head(len(data))

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.latitude,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url
0,3995000,4467.0,73.0,3.0,2018-10-15 13:33:18,1935.0,Lägenhet,3263989,2018-11-08,3820000,...,59.371033,18.054057,NaN,Stockholm,Stockholms län,260,MOHV,1901865,Broker,http://www.mohv.se/
1,1995000,1773.0,36.0,1.0,2018-10-05 14:29:28,1968.0,Lägenhet,3256231,2018-10-19,2355000,...,59.371242,18.057821,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
2,5100000,3839.0,81.0,3.0,2018-09-11 13:44:43,1936.0,Lägenhet,3236660,2018-09-27,6110000,...,59.371617,18.054716,NaN,Stockholm,Stockholms län,186,Historiska Hem AB,65645750,Broker,http://historiskahem.se/
3,5495000,4483.0,107.0,4.0,2018-08-25 02:56:56,1936.0,Lägenhet,3224374,2018-09-06,8050000,...,59.371480,18.053880,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
4,1995000,1696.0,29.0,1.0,2018-06-15 17:16:19,1936.0,Lägenhet,3185496,2018-06-18,2400000,...,59.372160,18.053542,True,Stockholm,Stockholms län,166,Mäklarhuset,204,Broker,http://www.maklarhuset.se/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1495000,1388.0,26.0,1.0,2012-10-20 07:36:37,1935.0,Lägenhet,1297784,2012-11-30,1475000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
154,2245000,2455.0,50.0,2.0,2012-10-19 15:32:58,1935.0,Lägenhet,1296874,2012-10-27,2245000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
155,1450000,1072.0,23.0,1.0,2012-09-14 05:10:08,1936.0,Lägenhet,1270599,2012-10-22,1450000,...,59.371194,18.053552,NaN,Stockholm,Stockholms län,255,Notar,1566,Broker,http://www.notar.se/
156,2495000,2748.0,56.0,3.0,2012-09-21 12:19:37,1935.0,Lägenhet,1276232,2012-10-09,2200000,...,59.372759,18.054634,True,Stockholm,Stockholms län,70,Notar,1566,Broker,http://www.notar.se/
157,2300000,2455.0,50.0,2.0,2012-09-16 02:33:35,1935.0,Lägenhet,1272477,2012-10-09,2180000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/

In [31]:
data["ppsqm"] = data["listPrice"]/data["livingArea"]
data[['listPrice', 'livingArea', 'ppsqm']].head()

   listPrice  livingArea         ppsqm
0    3995000        73.0  54726.027397
1    1995000        36.0  55416.666667
2    5100000        81.0  62962.962963
3    5495000       107.0  51355.140187
4    1995000        29.0  68793.103448

In [32]:
top_5_expensive = data.sort_values(by="ppsqm", ascending=False).head(5)
top_5_expensive[['listPrice', 'livingArea', 'ppsqm']]

    listPrice  livingArea         ppsqm
10    2295000        29.0  79137.931034
50    1890000        24.0  78750.000000
54    1795000        23.0  78043.478261
49    3495000        47.0  74361.702128
24    2500000        35.0  71428.571429

In [33]:
mean_ppsqm = data["ppsqm"].mean()
print("The average price per square meter is ", mean_ppsqm, "SEK")

The average price per square meter is  54127.43692133397 SEK

In [34]:
data["livingArea"].mean()

64.97324840764333

One interesting aspect is that the average living area for apartments in Ekahagen is approximately 64.5 square meters, while the five most expensive apartments per square meter have significantly smaller living areas.

## The Swedish Election of 2018

1. Calculate the total number of legitimate votes (Giltiga Röster) in Stockholm during the election. That is, sum upp the number of legitimate votes for all municipalities (kommun) in Stockholm.

2. In which municipality did the social democratic party (Social demokraterna, S) garner the hightest voting percentage?

3. Rank the (3) municipialities with highest participation (valdeltagande). Present this in the form of a table.

In [40]:
data2 = pd.read_csv("/Users/alvinalindqvist/Desktop/2018_R_per_kommun.csv", sep=";", decimal=',')
data2.head(len(data2))

,LÄNSKOD,KOMMUNKOD,LÄNSNAMN,KOMMUNNAMN,M,C,L,KD,S,V,...,TRP,VL-S,ÖVR,OGEJ,BLANK,OG,RÖSTER GILTIGA,RÖSTANDE,RÖSTBERÄTTIGADE,VALDELTAGANDE
0,1,14,Stockholms län,Upplands Väsby,23.11,6.26,5.66,6.71,26.97,8.01,...,NaN,NaN,NaN,0.04,0.69,0.06,25830,26036,30740,84.70
1,1,15,Stockholms län,Vallentuna,28.29,10.11,7.73,7.58,18.91,4.47,...,0.0,NaN,0.00,0.02,0.59,0.08,20952,21099,23438,90.02
2,1,17,Stockholms län,Österåker,29.68,9.35,7.48,7.13,19.71,4.97,...,NaN,NaN,0.01,0.03,0.69,0.13,27711,27947,31309,89.26
3,1,20,Stockholms län,Värmdö,27.49,9.76,6.40,5.89,20.48,6.02,...,NaN,NaN,0.01,0.04,0.67,0.07,28115,28335,31371,90.32
4,1,23,Stockholms län,Järfälla,23.96,6.31,6.04,6.29,27.68,8.75,...,0.0,NaN,0.02,0.04,0.53,0.07,45654,45948,53230,86.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,25,80,Norrbottens län,Luleå,15.38,7.53,4.37,4.78,38.97,10.47,...,NaN,NaN,0.01,0.03,0.69,0.04,53182,53589,60185,89.04
286,25,81,Norrbottens län,Piteå,11.82,7.49,2.52,4.80,47.48,10.56,...,NaN,NaN,0.00,0.03,0.61,0.02,29523,29719,33094,89.80
287,25,82,Norrbottens län,Boden,14.32,6.23,3.61,4.61,41.76,8.10,...,NaN,NaN,0.02,0.03,0.84,0.07,19110,19291,21934,87.95
288,25,83,Norrbottens län,Haparanda,12.79,9.61,1.86,5.32,36.69,5.91,...,NaN,NaN,NaN,0.04,1.01,0.11,4402,4454,6120,72.78
289,25,84,Norrbottens län,Kiruna,10.71,5.38,2.51,4.91,38.23,13.46,...,NaN,0.05,0.02,0.16,1.09,0.05,14796,14991,17468,85.82

In [46]:
stockholm_data = data2[data2["LÄNSNAMN"] == "Stockholms län"]

total_legitimate_votes_stockholm = stockholm_data["RÖSTER GILTIGA"].sum()

print("The total number of legitimate votes in Stockholms län is:",total_legitimate_votes_stockholm)

The sum of legitime votes in Stockholms län is: 1426237

In [63]:
highest_S_votes = data2["S"].max()

highest_S_municipality = data2.loc[data2["S"] == highest_S_votes, "KOMMUNNAMN"].iloc[0]

print("The municipality where the social democratic party garnered the hightest voting percentage is", highest_S_municipality)

The municipality where the social democratic party garnered the hightest voting percentage is Munkfors